body {
    margin:0;
    background:#000;
    color:#fff;
    font-family:Arial,sans-serif;
    font-size: 24px;
}

.top-bar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#000;
}
.logo span { color:#ff3b3b; }
nav a {
    color:#fff;
    margin-left:15px;
    text-decoration:none;
    font-size:16px;
}
nav a:hover { text-decoration:underline; }

.main {
    padding:20px 40px;
}

.dates {
    margin-bottom:15px;
}
.date {
    padding:30px 90px;
    margin-right:12px;
    border-radius:60px;
    border:none;
    background:#222;
    color:#fff;
    cursor:pointer;
    font-size:24px;
}
.date.active { background:#00c8ff; color:#000; }

.content {
    display:flex;
    margin-top:40px;
}

.poster img {
    margin-top: 40px;
    width:800px;
    border-radius:10px;
}

.seats-area {
    margin:0 20px;
}

.seats-grid {
    display:grid;
    grid-template-columns:repeat(8,80px);
    grid-gap:8px;
    margin-top:10px;
}

.seat {
    width:60px;
    height:60px;
    border-radius:8px;
    background:#333;
}
.seat.sold { 
    background:#00c8ff;
 }   /* sold seats */
.seat.empty { 
    background:#444; 
}

.summary {
    
    background:#111;
    padding:26px;
    border-radius:10px;
    width:380px;
    font-size:24px;
}
.summary h3 { margin-top:0; }
