body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #000;
}
.logo span { color: #ff3b3b; }
nav a { 
    color:#fff; 
    margin-left:18px; 
    text-decoration:none; }

.movie-hero {
    position: relative;
    display: flex;
}
.movie-hero img {
    width: 60%;
    height: calc(100vh - 60px);
    object-fit: cover;
}
.info {
    padding: 40px;
}
.info h1 { margin-top: 0; }
select {
    font-size: 18px;
    padding: 12px;
    margin: 10px 0 20px;
    border-radius: 4px;
    border: none;
    margin-bottom: 50px;
}
.btn {
    
    padding: 14px 36px;
    border-radius: 30px;
    background: #00c8ff;
    color: #000;
    text-decoration: none;
    margin-right: 10px;
}
.secondary { 
    background-color: #333;
     padding: 14px 36px;
    color:#fff; 



}